.results {
    text-align: center;
    margin-bottom: 20px;
}

table {
    display: block;
    height: 400px;
    width: 100%;
    overflow: auto;
    table-layout: auto;
    border: 2px solid #026496;
    border-spacing: 0;
    border-collapse: collapse;
}
th, td {
    border: 2px solid #026496;
    text-align: center;
}
tbody tr:hover {
    transform: scale(1.01);
    background-color: #373737;
}
#results-table tr th {
    position: sticky;
    top: 0;
    background-color: #1d1d1de0;
}

#count-requests-block {
    width: 50%;
    text-align: left;
}

#clear-button-block {
    display: flex;
    flex-direction: row-reverse;
}

#clear-button {
    margin-top: 10px;
    margin-right: 10px;
    height: 30px
}