body {
    height: 100%;
    background-image: url("../assets/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: monospace;
}
